<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <import resource="loggers.xml" />

    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:client.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true" />
        <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
    </bean>
    <bean id="client" class="com.learning.spring.core.beans.Client">
        <constructor-arg type="java.lang.String"
                         value="${id}"/>
        <constructor-arg type="java.lang.String"
                         value="${name}"/>
        <property name="greeting"
                  value="${greeting}" />
    </bean>
    <bean id="app"
          class="com.learning.spring.core.App">
        <constructor-arg ref="client"/>
        <constructor-arg ref="cacheFileEventLogger"/>
        <constructor-arg>
            <map>
                <entry key="INFO" value-ref="consoleEventLogger" />
                <entry key="ERROR" value-ref="combinedLogger" />
            </map>
        </constructor-arg>
    </bean>
    <bean id="event" class="com.learning.spring.core.events.Event"
          scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date"/>
        </constructor-arg>
        <constructor-arg>
            <bean class="java.text.DateFormat"
                  factory-method="getDateTimeInstance"/>
        </constructor-arg>
    </bean>

</beans>
